.footer {
  display: flex;
  justify-content: center;
  color: #c9bb16;
  margin: 50px 0px;
  background-color: black;
  padding-top: 2rem;
  width: 100%;
 
  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 1400px;
    
    .top {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #c9bb16;
        }
        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #060606;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .footer {
    width: 100%;
    color: red;

  }
  .footer .container {
    color: red;

  }
  .footer .container .top {
    font-size: 1rem;
  }
  .footer .container .top .item {
   display: grid;
    
  }
  .footer .container .bottom .right .link {
   
  }
  .footer .container .bottom .left {
   font-weight: 10;
  }
  .footer .container .bottom .right .social {
    padding-left: 50px;
    cursor: pointer;
  }
}

