/* Default styles for all devices */
.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: white;
  position: relative;
  background-image: cover;
  width: 100%;
}

.featured .container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 7rem;
  background-image: url("/img/SLIDE 4.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBackground 10s infinite;

  @keyframes changeBackground {
    0% {
      background-image: url("/img/SLIDE 1.jpg");
    }

    25% {
      background-image: url("/img/SLIDE 2.jpg");
    }

    50% {
      background-image: url("/img/SLIDE 3.jpg");
    }

    75% {
      background-image: url("/img/SLIDE 4.jpg");
    }

    100% {
      background-image: url("/img/SLIDE 1.jpg");
    }
  }
}

.featured .container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.featured .container .left h1 {
  font-size: 50px;
}

.featured .container .left h1 span {
  font-style: italic;
  font-weight: 300;
}

.featured .container .left .search {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.featured .container .left .search .searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featured .container .left .search .searchInput img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.featured .container .left .search .searchInput input {
  border: none;
  outline: none;
}

.featured .container .left .search .searchInput input::placeholder {
  color: gray;
}

.featured .container .left .search button {
  width: 120px;
  height: 50px;
  border: none;
  background-color: gold;
  color: black;
  align-self: flex-end;
  cursor: pointer;
  font-weight: 400;
}

.featured .container .left .popular {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featured .container .left .popular span {
  width: max-content;
}

.featured .container .left .popular button {
  width: max-content;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
}

.featured .container .left .popular button:hover {
  background-color: goldenrod;
  color: black;
}

/* Media Queries */

/* Mobile Phones (Portrait) */

@media screen and (max-width: 768px) {
  .featured {
    width: 100%;
    top: -150px;
    margin-bottom: -150px;
  }

  .featured .container {
    padding-left: 25px;
    max-width: 100%;
    background-size: 100% 50%;
  }

  .featured .container .left h1 {
    font-size: 1rem;
  }

  .featured .container .left .search {
    width: 90%;
  }

  .featured .container .left .popular {
    color: gold;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featured .container .left .popular button:nth-child(2) {
    display: inline-block;
    text-transform: lowercase;
    width: fit-content;
  }

  .featured .container .left .popular button:nth-child(3) {
    display: inline-block;
    text-transform: lowercase;
    width: fit-content;
  }

  .featured .container .left .popular button:nth-child(4) {
    display: inline-block;
    text-transform: lowercase;
    width: fit-content;
  }

  .featured .container .left .popular button:nth-child(5) {
    display: inline-block;
    text-transform: lowercase;
    width: fit-content;
  }

  .featured .container .left .popular button:nth-child(6) {
    display: inline-block;
    text-transform: lowercase;
    width: fit-content;
  }

  .featured .container .left .search .searchInput img {
    width: 15px;
    height: 15px;
    margin: 10px;
  }

  .featured .container .left .search .searchInput input {
    font-size: 18px;
  }

  .featured .container .left {
    margin-top: 12rem;
  }
}
