
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 22, 22);
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  width: 100%;
  // display: none;
  &.active {
    background-color: #050505;
    color: rgb(0, 0, 0);

    button {
      background-color: rgb(255, 255, 255) !important;
      color: #bfb11d !important;
      border: 1px solid #b9c5bf !important;

      &:hover {
        background-color: gold;
        border-color: #080808;
        color: #080808;
      }
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    height: 4rem;

    .logo {
      font-size: 34px;
      font-weight: bold;

      @keyframes pulse {
        0% {
          transform: scale(1);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
        }

        50% {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }

        100% {
          transform: scale(1);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
        }
      }

      .Logo {
        width: 15rem;
        height: 15rem;
        margin-top: 30px;
        animation: pulse 5s ease-in-out infinite;
        -webkit-animation: pulse 5s ease-in-out infinite;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      cursor: pointer;
      color: #c9bb16;
      padding-right: 30px;
      .nav-items > span{
        justify-content: space-between;
        gap: 20px;
        padding-right: 20px;
        &:hover {
          color: #f1f3ea; 
          text-decoration: underline; 
        }
      }
      
      
      a {
        color: #7ec916;
        margin-left: 20px;
        

        &:hover {
          color: #faf2f2; 
          text-decoration: underline; 
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: gold; /* Change the background color on hover */
          border-color: #080808; /* Change the border color on hover */
          color: #080808; /* Change the text color on hover */
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0.5px;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1000px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    padding-left: 45%;
  }
  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: .5rem;
  }
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
    .container {
      padding: 20px;
      .logo {
        
        .Logo{
        width: 120px;
        height: 120px;
        }
      }
      .nav-btn {
        visibility: visible;
        opacity: 1;
      }
    }

    

    .menu {
      width: 100%;
      padding: 10px;
    }
  }
  .nav-btn {
		visibility: visible;
		opacity: 1;
    // padding-left: 10px;
    // margin-left: 10rem;
    
	}
  .nav-items{
    position: fixed;
		top: -100vh;
		right: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: black;
		transition: 1s;
  }
  .responsive_nav {
		transform: translateY(100vh);
	}
  .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
}
