@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  width: 100%;
  height: 10vh;

  

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    height: 4rem;
   

    .logo {
      font-size: 34px;
      font-weight: bold;

      .Logo {
        width: 15rem;
        height: 15rem;
        margin-top: 50px;
      }
    }

    .links {
      display: flex;
      align-items: center;
  
      gap: -4rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      flex-direction: row;
      cursor: pointer;
      color: gold;
      margin-top: 3rem;

      .nav-items {
        display: flex;
        gap: 20px;

        .link:hover {
          color: #f1f3ea;
          text-decoration: underline;
        }

        .dropdown {
          position: relative;
          display: inline-block;
          margin-right: 20px;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: black;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          z-index: 1;
          width: 200px;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }

        .dropdown-content .dropdown-link {
          color: gold;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content .dropdown-link:hover {
          text-decoration: underline;
        }
      }

      a {
        color: gold;
        margin-left: 20px;

        &:hover {
          color: #faf2f2;
          text-decoration: underline;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0.5px;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1000px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    padding-left: 45%;
  }

  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1rem;
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    .nav-btn {
      visibility: visible;
      opacity: 2;
      border: none;
      margin-top: -18px;
    }

    .container {
      padding: 20px;

      .logo {
        .Logo {
          width: 8rem;
          height: 12rem;
          top: 10px;
        }
      }

      .links{

        a {
          margin-left: -20px;
      }
    }

    }

    .menu {
      width: 100%;
      padding: 10px;
    }
  }



  .nav-items {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

  .responsive_nav {
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
}

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
