* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  background: black;

  .features {
    justify-content: center;
    top: 1275px;
    background: black;
    height: 70vh;

    &.dark {
      background-color: #0d084d;

      h1 {
        color: white !important;
      }

      i {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
        color: white !important;
      }

      .title {
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;
      }

      button {
        background-color: #ffd700;
        border: none;
        color: rgb(8, 8, 8);
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
      }
    }

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;

      .item {
        width: 1260px;
        height: 450px;
        margin-left: 90px;

        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
        }

        h1 {
          font-weight: 400;
          color: white;
          line-height: 90px;
          margin-left: 250px;
          font-size: 50px;

          b {
            color: #f7db72;
          }

          i {
            color: #f7db72;
          }

          img {
            width: 238px;
            height: 80px;
          }
        }

        h2 {
          color: white;
          margin-left: 260px;
          font-size: 32px;
          font-weight: 300;
        }

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 700;
          font-size: 24px;
          color: #ffd700;

          img {
            width: 24px;
            height: 24px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          color: #ffd700;
          line-height: 28px;
          letter-spacing: 1px;
        }

        video {
          width: 720px;
        }
      }
    }
  }

  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: black;

    .container {
      width: 1400px;

      h1 {
        color: #f7db72 !important;
        font-weight: 800;
        font-size: 64px;
      }

      .items {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100px 100px;
        grid-gap: -1000px;


        .item {
          width: 250px;
          height: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          button {
            font-size: 20px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            width: 210px;
            height: 60px;
            color: white;
            border: 3px solid grey;
            background: black;

            &:hover {
              background: #f7db72;
              color: black;
            }
          }
        }
      }
    }
  }

  .container {
    background: black;
    height: 100%;
    width: 100%;

    .markets {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: -10px;
      max-width: fit-content;
      margin-left: 5rem;
    }

    h1 {
      color: #f7db72;
      margin-left: 100px;
      font-size: 64px;
      font-weight: 800;
    }

    p {
      color: white;
      margin-left: 100px;
      font-size: 32px;
      font-weight: 300;
    }

    .categories {
      border: 2px solid #f7db72;
      width: 388px;
      height: 381px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-top: 50px;
      margin-left: 100px;

      .category {
        display: flex;
        flex-direction: column;

        img {
          margin-left: 16px;
          width: 336px;
          height: 196px;
          margin-top: 18px;
        }

        .inner {
          display: flex;
          gap: 6rem;
          margin-top: 2rem;

          span {
            font-size: 38px;
            font-weight: 600;
            color: #f7db72;
            margin-left: 18px;
          }

          svg {
            margin-top: 1rem;
          }

          .soon {
            display: flex;
            flex-direction: row;

            p {
              margin-bottom: 4rem;
              display: none;
            }
          }
        }
      }
    }
  }

  .about {
    background-image: url("/img/yello.png");
    background-size: cover;
    /* Thispropertymakesthebackgroundimagecovertheentirecontainer */
    background-position: center;
    width: 100%;
    height: 28vh;
    border-radius: 50px;
    margin-top: 5rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    .about-us {
      margin-left: 162px;



      h1 {
        font-weight: 500;
        font-size: 20px;
      }

      .col {
        font-style: italic;
        font-size: 20px;
        color: #070604;
        font-weight: 500;
      }

      .dds {
        font-size: 16px;
        color: #070604;
        font-weight: 500;
      }

      .view {
        display: flex;
        gap: 20px;

        button:nth-child(1) {
          width: 222px;
          border-radius: 11px;
          -webkit-border-radius: 11px;
          -moz-border-radius: 11px;
          -ms-border-radius: 11px;
          -o-border-radius: 11px;
          height: 56px;
          background: #1a1a1a;
          color: white;
          font-size: 16px;
          font-weight: 500;
        }

        button:nth-child(2) {
          width: 222px;
          border-radius: 11px;
          -webkit-border-radius: 11px;
          -moz-border-radius: 11px;
          -ms-border-radius: 11px;
          -o-border-radius: 11px;
          height: 56px;
          background: transparent;
          color: white;
          font-size: 16px;
          font-weight: 500;
          color: #1a1a1a;
          border: 1px solid #1a1a1a;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .features {
    width: 100%;

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding-left: 10px;
      margin-top: -4rem;

      .item {
        h1 {
          font-size: 1.2rem;
          line-break: auto;
        }
      }
    }
  }

  .home .features .container .item video {
    width: 350px;
    margin-right: 1.5rem;
  }

  .home .features .container .item .title {
    font-size: 0.83rem;
    color: white;
  }

  .home .features .container .item p {
    font-size: 0.9rem;
  }

  .home .explore .container {
    h1 {
      padding-left: 20px;
      font-size: 25px;
    }

    .items {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }

  .home .features .container .item h1 {
    color: rgb(209, 67, 67);
  }

  .home .explore {
    width: 100%;
  }

  .home .explore .container .items .item {
    width: 100%;
  }

  .home .explore .container .items .item > svg {
    width: 35px;
  }

  .home .explore .container .items .item span {
    font-weight: 100;
    color: gold;
  }

  .home .features .container .item img {
    width: 85%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
  }
}
