* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;

  // display: none;
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background: black;
    display: none;

    &.dark {
      background-color: #0d084d;

      h1 {
        color: white !important;

      }

      i {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
        color: white !important;
      }

      .title {
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;
      }

      button {
        background-color: #FFD700;
        border: none;
        color: rgb(8, 8, 8);
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
      }
    }

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
        }

        img {
          width: 100%;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }

        h1 {
          font-weight: 500;
          margin-bottom: 10px;
          color: #FFD700 !important;
        }

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 700;
          font-size: 24px;
          color: #FFD700;

          img {
            width: 24px;
            height: 24px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          color: #FFD700;
          line-height: 28px;
          letter-spacing: 1px;
        }

        video {
          width: 720px;
        }
      }
    }

    //   &.reverse {
    //     background-color: #0d084d;
    //     color: white;
    //     .container {
    //       flex-direction: row-reverse;
    //     }
    //   }
  }

  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: black;

    .container {
      width: 100%;
      // background-color: black;

      h1 {
        color: #FFD700 !important;
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 250px;
          height: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          img {
            width: 50px;
            height: 50px;
          }

          .line {
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all .3s ease;
          }

          span {
            font-weight: 300;
            color: white;
          }

          &:hover {
            .line {
              width: 80px;
              background-color: #1dbf73;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .features {
    .container {
      font-size: 1rem;

      display: flex;
      align-items: center;

      .item video {
        display: none;
      }

      .item h1 {
        font-size: 18px;
        color: white;

      }

      .item p {
        display: none;
      }

    }
  }

  .home .features .container .item .title {
    font-size: 18px;
  }
  .home .explore .container {

    h1 {
      padding-left: 20px;
      font-size: 25px;
    }

    .items {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }

  .home .features .container .item {
    margin-left: 15rem;
    padding-left: 20rem;
    font-size: 1rem;
  }

  .home .features .container .item h1 {
    color: rgb(209, 67, 67);
  }

  .home .explore {
    width: 100%;
  }

  .home .explore .container .items .item {
    width: 100%;

  }
  .home .explore .container .items .item >svg{
    width: 35px;

  }
  .home .explore .container .items .item span {
    font-weight: 100;
    color: gold;
  }
}