// Slide.scss
.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Add any additional styles for each slide here */
  }
  